.newsletter {
    display: grid;
    grid-template-columns: minmax(23rem, 1fr) auto;
    align-items: center;

    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-slate));
    border-radius: 40px;
    box-shadow: 0 10px 40px 20px hsl(var(--clr-black) / 0.25);
    overflow: hidden;

    @media (width < 600px) {
        grid-template-columns: auto;
        grid-auto-flow: row;
        border-radius: 5px;
    }
}

.column {
    padding: 1.5rem;
}
.column.image {
    width: 100%;
    @media (width < 600px) {
        grid-row: 1;

        display: grid;
        padding: 0;
    }
}
.column.content {
    @media (width < 600px) {
        grid-row: 2;

        padding: 0;
    }
}

.image.splash {
    @media (width < 600px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content {
    display: grid;
    row-gap: 1.5rem;

    padding: 2.5rem;
    padding-block-end: 0;

    @media (width < 600px) {
        padding: 1.5rem;
        padding-block-end: 0;
    }
}
.content-title {
    font-size: clamp(2.6rem, 3.5vw + 1rem, 3.6rem);

    @media (width < 600px) {
        font-size: 2.2rem;
    }
}
.content-text {
    max-inline-size: 40ch;
}
.content-item {
    display: flex;

    list-style: none;
    margin-block-end: 0.75rem;

    & > *:first-child {
        margin-inline-end: 1rem;
    }
}

.form {
    display: grid;

    padding: 2.5rem;
    padding-block-start: 0;

    @media (width < 600px) {
        padding-inline: 1.5rem;
        padding-block: 0 2.5rem;
    }
}
.form-input-wrapper {
    display: grid;
}
.form-labels {
    display: flex;
    justify-content: space-between;
}
.form-label {
    font-weight: 700;
    font-size: 0.85rem;
    margin-block-end: 0.5rem;
}
.form-label-error {
    color: hsl(var(--clr-tomato));
}

.form-input {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid hsl(var(--clr-grey));
    border-radius: 8px;
    color: hsl(var(--clr-slate));
    margin-block-end: 1.5rem;

    &:focus {
        border: 1px solid hsl(var(--clr-slate));
        outline: 2px solid hsl(var(--clr-charcol) / 0.5);
        outline-offset: 2px;
    }

    &[data-iserror="true"] {
        color: hsl(var(--clr-tomato));

        border: 1px solid hsl(var(--clr-tomato));
        background-color: hsl(var(--clr-tomato) / 0.15);
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-block-size: 3.5rem;
    font-weight: 700;
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-slate));
    border: none;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        background: linear-gradient(to right, hsl(var(--clr-pinky)) 25%, hsl(var(--clr-tomato)));
        box-shadow: 0 20px 20px 5px hsl(var(--clr-tomato) / 0.25);
    }

    &:focus {
        outline: 2px solid hsl(var(--clr-charcol) / 0.5);
        outline-offset: 2px;
    }

    &[type="dismiss"] {
        @media (width < 600px) {
            margin-block-start: 20rem;
        }
    }
}
.btn:disabled {
    background-color: hsl(var(--clr-grey));
}

.message {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: repeat(4, 1fr);
    row-gap: 2rem;

    max-inline-size: 31rem;
    padding-inline: 4rem;
    padding-block: 3rem;
    color: hsl(var(--clr-slate));
    background-color: hsl(var(--clr-white));
    border-radius: 40px;
    box-shadow: 0 10px 40px 20px hsl(var(--clr-black) / 0.25);
    overflow: hidden;

    @media (width < 600px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        block-size: 100vh;
        padding-inline: 1.5rem;
        border-radius: 5px;
    }
}
.message-title {
    max-inline-size: 15ch;
    margin-block: 1.5rem;
    font-size: clamp(3.2rem, 3.5vw + 1rem, 3.6rem);
    line-height: 1;

    @media (width < 600px) {
        font-size: 3.2rem;
    }
}
.message-text span {
    font-weight: 700;
}

.spinner {
    animation: spinny 1s ease-in-out 0s infinite;
}
@keyframes spinny {
    to {
        rotate: 360deg;
    }
}
